<link rel="stylesheet" href = "stylesheets/about.css">

<div id="about">
    <h1 style="font-size: 40px;text-align: center;">ABOUT</h1>
    <hr style="width:120px; color:white; margin-bottom: 45px;">
    <div id="skills">
       
    </div>
    <div id="details">
        <div id="about-me"></div>
        <div id="skills-graph"></div>
    </div>
</div>