<link rel="stylesheet" href = "stylesheets/about.css">

<div id="about">
    <h1 style="font-size: 40px;text-align: center;">ABOUT</h1>
    <hr style="width:120px; color:white; margin-bottom: 45px;">
    <div id="details">
        <div id="about-me" class="details-dev">
            <img src="../images/thinkinFace.png">
            <h1>Who Am I?</h1>
            <p1>I am a programmer</p1><br><br>
            <p1>Currently I am doing Master's of Computer Applications at</p1> <br>
            <p1>National Institute of Technology, Jamshedpur</p1><br><br>
            <p1>I am passionate about cyber security</p1><br>
            <p1>I am progressing my career towards cybersecurity.</p1><br><br>
            <p1>I have good knowledge on Problem Solving and DSA.</p1><br>
        </div>
        <div id="skills-graph" class="details-dev">
            <h1>My Skills</h1>
            <p>Javascript</p>
            <div class="container">
                <div class="skill js">80%</div>
            </div>
          
            <p>NodeJs</p>
            <div class="container">
                <div class="skill node">80%</div>
            </div>

            <p>ReactJs</p>
            <div class="container">
                <div class="skill react">60%</div>
            </div>

            <p>C/C++</p>
            <div class="container">
                <div class="skill cpp">90%</div>
            </div>

            <p>Java</p>
            <div class="container">
                <div class="skill java">90%</div>
            </div>

            <p>Networking</p>
            <div class="container">
                <div class="skill java">70%</div>
            </div>
        </div>
    </div>
</div>