<link rel="stylesheet" href="/stylesheets/card.css">

    <div class="card">
        <img src="../../images/Opa.png"/>
        <div class="name">Card 5</div>
        <div class="bar">
            <div class="filledbar"></div>
        </div>
        <div class="details">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure repellat perferendis
            facilis aperiam corrupti incidunt explicabo voluptatibus maiores nostrum sint.</div>
        <div class="tools">
            <sapn>Tools use</sapn>
            <br class="tools-name">
            <p class="lang"> Node.js</p>
            <p class="lang">JavaScript</p>
            <p class="lang">Replit</p>
        </div>
    <!-- </div> -->
</div>