<link rel="stylesheet" href="/stylesheets/contact.css">

<div id="contact">
    <h1 class="contact-head">CONTACT</h1>
    <hr style="width:120px; color:white; margin-bottom: 45px;">

    <form id="contact-form" action="#">
        <input class="form input" type="text" name="name" placeholder="name" autocomplete="off"><br>
        <input class="form input" type="email" name="email" placeholder="email" autocomplete="off"><br>
        <textarea class="form" for="message" cols="35" rows="5" placeholder="message" autocomplete="off"></textarea><br>
        <input id="submit-button" type="submit">
    </form>
</div>