<div class="card-container" style="display:flex">
    <% for (var i=0; i<5; i++ ) { %>
        <div class="card">
            <img src="../images/Opa.png" />
            <div class="name">
                Card11
            </div>
            <div class="bar">
                <div class="filledbar"></div>
            </div>
            <div class="details">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, sequi tenetur vero sit, aut molestias
                numquam vel, perferendis ex omnis fugiat dolorum? Velit accusamus ipsum in enim accusantium eos alias.
            </div>
            <div class="tools">
                <sapn>Tools use</sapn>
                <br class="tools-name">
                <p class="lang">
                    Java
                </p>
                <p class="lang">
                    CPP
                </p>
                <p class="lang">
                    Python
                </p>
            </div>
            <div class="fs">
                <div class="fork">
                    <img src="../images/fork.png" />
                    <span>
                        4
                    </span>
                </div>
                <div class="fork">
                    <img src="../images/star.png" />
                    <span>
                        5
                    </span>
                </div>
            </div>
        </div>
        <% } %>
</div>