<link rel="stylesheet" href="stylesheets/footer.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d4ad4e735c.js" crossorigin="anonymous"></script>
<footer>
    <div class="footer-links">
        <ul class="footer-items">
            <li>
                <a href=""><i class="fa-brands fa-github" style="margin-right:5px;"></i>Github</a>
            </li>
            <li>
                <a href=""><i class="fa-brands fa-linkedin-in" style="margin-right:5px;"></i>Linkedin</a>
            </li>
            <li>
                <a href=""><i class="fa-brands fa-instagram" style="margin-right:5px;"></i>Instagram</a>
            </li>
            <li>
                <a href=""><i class="fa-regular fa-envelope" style="margin-right:5px;"></i>Gmail</a>
            </li>
        </ul>
    </div>
    <div class="copyright">
        <p>&#169; Flanker 2022</p>
    </div>
</footer>