<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shyam-Sunder</title>
  <link rel="stylesheet" href="../stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/card.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d4ad4e735c.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="header">
    <h1 style="font-size: 40px;">Hello, I am <em>Shyam Sunder</em></h1>
    <h1>I am a Backend developer</h1>
    <button autofocus id="gitData">My Work <span style='font-size:25px; display: inline;'>&#8609;</span></button>
  </div>
  <%-include ("partials/navbar.ejs") %>
    <div>
      <%-include ("partials/about.ejs") %>
      <h1 class="work-title">Work and Projects</h1>
    </div>
    <%-include ("partials/footer.ejs") %>

      <script src="scripts/index.js"></script>
</body>

</html>