footer{
    color:aliceblue;
    background-color: black;
    text-align: center;
    margin:0;
    padding:0;
    width:100%;
    font-size: 15px;
    height: 100px;
    margin-top: -20px;
    font-family: 'Ubuntu', sans-serif;
}

footer ul{
    padding: 30px 0 0 0;
    color:rgb(255, 255, 255);
}

footer ul:hover{
    color: rgb(83, 79, 79);
}
.copyright{
    color:rgb(255, 255, 255);
}