body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.work-title {
  color: rgb(176, 174, 174);
  text-align: center;
}

/* .type {
  color: red;
}

type {
  display: inline-flex;
}

.type span {
  word-break: break-all;
  height: 1.2em;
  font-size: 30px;
  width: 0%;
  overflow: hidden;
  animation: t 1s linear infinite alternate;
}

.type span:before {
  content: " ";
  display: inline-block;
}

@keyframes t {

  90%,
  100% {
    width: 100%
  }
} */