
.title {
    padding: 40px;
    color: rgb(176, 174, 174);
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-items {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;
    font-size: 18px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(35, 32, 32);
}

li {
    display: inline;
    padding: 0 20px 0 0;
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(83, 79, 79);
}

span {
    display: flex;
    justify-content: center;
}